<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_sample.dao.AddressDao">
	
	<resultMap type="Address" id="AddressResult">
		<id property="addrId" column="addr_id"/>
		<result property="street" column="street"/>
		<result property="city" column="city"/>
		<result property="state" column="state"/>
		<result property="zip" column="zip"/>
		<result property="country" column="country"/>
	</resultMap>
	
	<sql id="selectSql">
		select addr_id, street, city, state, zip, country from addresses
	</sql>
	<select id="selectAddressByAll" resultMap="AddressResult">
		<include refid="selectSql"></include>
	</select>
	
	<sql id="selectSqlLimit">
		SELECT addr_id, street, city, state, zip, country
		FROM
		addresses
		limit #{offset}, #{limit};
	</sql>

	<select id="selectAddressLimitByAll" resultMap="AddressResult" parameterType="map">
		<include refid="selectSqlLimit" />
	</select>
</mapper>