<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.mybatis_sample.dao.CourseDao">
	<resultMap type="Course" id="CourseResult">
		<id property="courseId" column="course_id"></id>
		<result property="name" column="name"/>
		<result property="description" column="description"/>
		<result property="startDate" column="startDate"/>
		<result property="endDate" column="endDate"/>
	</resultMap>
	
	<sql id="courseSql">
		select course_id, name, description, start_date, end_date from courses
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="courseName != null">
				and name like #{courseName}
			</if>
			<if test="startDate != null">
				and start_date &gt;= #{startDate}
			</if>
			<if test="endDate != null">
				and end_date &lt;= #{endDate}
			</if>
		</where>
	</sql>

	<select id="selectCoursesByCondition" parameterType="map" resultMap="CourseResult">
		<include refid="courseSql"/>
		<include refid="whereSql"/>
	</select>
	
	<!-- choose -->
	<sql id="chooseSql">
		<choose>
			<when test="searchBy=='Tutor'">
				where tutor_id=#{tutorId}
			</when>
			<when test="searchBy=='CourseName'">
				where name like #{courseName}
			</when>
			<otherwise>
				where end_date &gt;=now()
			</otherwise>
		</choose>
	</sql>
	
	<select id="selectCaseCourses" parameterType="map" resultMap="CourseResult">
		<include refid="courseSql"/>
		<include refid="chooseSql"/>	
	</select>
	
	<!-- where -->
	
			
	<sql id="whereSql2">
		<where>
			<if test="tutorId != null">
				TUTOR_ID = #{tutorId}
			</if>
			<if test="courseName != null">
				AND name like #{courseName}
			</if>
			<if test="startDate != null">
				AND start_date &gt;= ${startDate}
			</if>
			<if test="endDate != null">
				AND end_date &lt;=#{endDate}
			</if>
		</where>
	</sql>
	<select id="selectWhereCourses" parameterType="map" resultMap="CourseResult">
		<include refid="courseSql" />
		<include refid="whereSql2" />
	</select>
	<!-- trim -->
	<sql id="whereTrimSql">
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<!-- where 자동 추가 -->
			<if test="tutorId != null">
				TUTOR_ID=#{tutorId}
			</if>
			<!-- 만약 where tutor_id=1 이 추가 된 경우 where 삭제 -->
			<if test="courseName != null">
				AND name like #{courseName}
			</if>
		</trim>
	</sql>

	<select id="selectTrimCourses" parameterType="map" resultMap="CourseResult">
		<include refid="courseSql" />
		<include refid="whereTrimSql" />
	</select>
	
	<!-- foreach -->
	<sql id="foreachSql">
		<if test="tutorIds != null">
			<where>
				tutor_id IN
				<foreach item="tutorId" collection="tutorIds" index="index" open="(" close=")" separator=",">
					#{tutorId}
				</foreach>
			</where>
		</if>
	</sql>

	<select id="selectCoursesForeachByTutors" parameterType="map" resultMap="CourseResult">
		<include refid="courseSql" />
		<include refid="foreachSql" />
	</select>
</mapper>